@using SchoolManagmentSystemDAL.ViewModels
@using SchoolManagmentSystem.DAL.Models
@model ScheduleVM
@{
    ViewData["Title"] = "Schedule";
    var classExam = (List<ClassExam>)ViewData["ClassExam"];
}
<h1 class="text-center">Schedule @Model.SelectedYear</h1>

<form asp-action="Schedule" method="get" class="mb-4">
    <div class="input-group">
        <select asp-for="SelectedYear" asp-items="new SelectList(Model.AvailableYears)" class="form-control">
            <option value="">Select Year</option>
        </select>
        <button type="submit" class="btn btn-primary">Show Schedule</button>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Exam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lesson in Model.Lessons)
        {
            int i = 0;
            <tr>
                <td>@lesson.Date.ToString("yyyy-MM-dd")</td>
                <td>@lesson.Class?.Name</td>
                <td>@lesson.Subject?.Name</td>
                <td>@lesson.Teacher?.User?.UserName</td>
                <td>@lesson.StartTime.ToString("hh:mm tt") - @lesson.EndTime.ToString("hh:mm tt")</td>
                @{
                    var result = classExam.Any(c => c.SubjectId == lesson.Subject.Id) && lesson.Date >= DateTime.Now.Date ? "" : "text-muted pe-none";
                }
                <td class="text-center">
                    <a asp-action="Details" asp-controller="Exam" asp-route-id="@lesson.SubjectId" class="text-info @result">
                        <i class="fa-solid fa-file-circle-question"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

